@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root {
    --color01: #306073;
    --color02: #398397;
    --color03: #78ACBA;
    --color04: #6BC6FF;
    --color05: #F4F4F4;
    
    --color-fonte: #405359;
    --fonte-padrao: 'Sen';
}

/* CONFIGURAÇÕES GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: var(--fonte-padrao);
    background-color: var(--color01);
}

/* CABEÇALHO */

header {
    display: flex;
    background-color: var(--color05);
    font-family: 'Sen';
    padding: 15px;
    gap: 1em;
}

header > a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-right: auto;
    gap: 1em;
}

header > a > img {
    width: 60px;
    height: 60px;
}

header > a > h1 {
    color: var(--color-fonte);
    font-weight: bold;
    text-align: center;
    margin: 0px;
    font-size: 1.1em;
}

header > menu {
    display: flex;
    align-items: center;
    padding: 5px;
}

header > menu > a {
    color: var(--color-fonte);
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
}

header > button {
    color: var(--color-fonte);
    border: none;
    padding: 1em;
    cursor: pointer;
    background-color: transparent;
}

/* MEDIA-QUERY PARA NAVEGADOR E MENU */

@media screen and (min-width: 600px) {
    header > menu {
        display: flex;
    }

    header > button {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header > menu {
        display: none;
    }

    header > button {
        display: flex;
    }
}