{% extends "padrao.html" %}

{% block conteudo %}
    <h2>Sobre a Liga</h2>
    <p>A <strong>Liga Acadêmica de Psicologia Hospitalar e Saúde Coletiva</strong> vinculada ao curso de Psicologia da Universidade do Estado de Minas Gerais, fundada na cidade de Ituiutaba, Minas Gerais, Brasil, em 14/11/2022, sediada na Rua Vereador Geraldo Moisés da Silva, S/N - Universitário, é uma comunidade acadêmica com cinho filantrópica, sem fins lucrativos, sem qualquer filiação religiosa, política ou partidária, e de duração indeterminada.</p>
    <p>A Liga Acadêmica de Psicologia Hospitalar e Saúde Coletiva (PHSC) é uma sociedade formada pelos acadêmicos do curso de <strong>Psicologia da Universidade do Estado de Minas Gerais</strong>, estando a mesma vinculada às gestões de ensino, pesquisa e extensãom sob a coordenação e supervisão de um professor vinculado a UEMG, tendo total autonomia administrativa e científica.</p>
    <p><strong>Parágrafo Único:</strong> A Liga Acadêmica de Psicologia Hospitalar e Saúde Coletiva (PHSC) possui seu funcionamento condicionado à aprovação pelas gestões de ensino, pesquisa e extensão da UEMG.</p>

    <br>
    <h2>Membros</h2>
    <div class="membros">
        <div class="card" style="width: 18rem;">
            <img src="../static/images/membros/raiany_soares.png" class="card-img-top" alt="Raiany Soares">
            <div class="card-body">
                <h3>Raiany Soares</h3>
                <p class="card-text">Presidente</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/images/membros/gustavo_martins.jpg" class="card-img-top" alt="Gustavo Martins">
            <div class="card-body">
                <h3>Gustavo Martins</h3>
                <p class="card-text">Desenvolvedor Web</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/images/membros/pedro_henrique.jpg" class="card-img-top" alt="Pedro Henrique">
            <div class="card-body">
                <h3>Pedro Henrique</h3>
                <p class="card-text">Desenvolvedor Web</p>
            </div>
        </div>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/membros/raiany_soares.png" class="card-img-top" alt="Raiany Soares">
                    <div class="card-body">
                        <h3>Raiany Soares</h3>
                        <p class="card-text">Presidente</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/membros/gustavo_martins.jpg" class="card-img-top" alt="Gustavo Martins">
                    <div class="card-body">
                        <h3>Gustavo Martins</h3>
                        <p class="card-text">Desenvolvedor Web</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/membros/pedro_henrique.jpg" class="card-img-top" alt="Pedro Henrique">
                    <div class="card-body">
                        <h3>Pedro Henrique</h3>
                        <p class="card-text">Desenvolvedor Web</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/membros/isabella_drummond.png" class="card-img-top" alt="Isabella Drummond">
                    <div class="card-body">
                        <h3>Isabella Drummond</h3>
                        <p class="card-text">Professora Orientadora</p>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}